[Unit]
Description=Tell Owari
Before=shutdown.target
DefaultDependencies=no
After=network-online.target unbound.service
Wants=network-online.target unbound.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/bin/echo "終わりー" | /usr/local/bin/slack'

[Install]
WantedBy=shutdown.target
